!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %title #{ApplicationHelper.title}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'mobile', media: 'all', 'data-turbolinks-track': 'reload' if platform.mobile_app?
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #app
      .main-wrapper.main-wrapper-1
        .navbar-bg
        = render 'shared/navbar'
        = render 'shared/sidebar'
        .main-content
          = content_for?(:content) ? yield(:content) : yield
        = render 'shared/footer'
    = render 'shared/toastr'
