%section.section
  .section-header.d-mobile-none
    %h1 Members
    .section-header-breadcrumb
      .breadcrumb-item= link_to 'Dashboard', root_path
      .breadcrumb-item= link_to 'Members', members_path
      .breadcrumb-item Show Member
  .section-body
    .card
      .card-header
        %h4 Show Member
      .card-body
        %dl.row
          %dt.col-sm-3 Name:
          %dd.col-sm-9= @member.name
          %dt.col-sm-3 Email:
          %dd.col-sm-9= @member.email
          %dt.col-sm-3 Contact number:
          %dd.col-sm-9= @member.contact_number
          %dt.col-sm-3 Address:
          %dd.col-sm-9= @member.address
          %dt.col-sm-3 Branch:
          %dd.col-sm-9= @member.branch.name
          %dt.col-sm-3 Membership card number:
          %dd.col-sm-9= @member.membership_card_number
          %dt.col-sm-3 Membership date:
          %dd.col-sm-9= (@member.membership_date)
          %dt.col-sm-3 Expiry date:
          - if @member.expiry_date < Time.zone.now 
            %dd.col-sm-9.alert-danger= (@member.expiry_date)
          - else 
            %dd.col-sm-9= (@member.expiry_date)
          %dt.col-sm-3 Beauty bank:
          %dd.col-sm-9= @member.beauty_bank
          %dt.col-sm-3 Loyalty points:
          %dd.col-sm-9= @member.loyalty_points
= link_to icon('fas fa-edit', 'Edit'), edit_member_path(@member), data: { turbolinks_action: 'replace' }, class: 'btn btn btn-icon icon-left btn-warning'
= link_to icon('fas fa-arrow-left', 'Back'), 'javascript:history.back()', class: 'btn btn-icon icon-left btn-secondary d-mobile-none'
- content_for(:page_title, 'Show Member')
